/* fonts */
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-regular {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitcount-grid-single-regular {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

/* removing default html margins */
* {
  margin: 0;
  padding: 0;
}

/* COLOR SCHEME */
:root {
  /** Base colors */
  --black: #000000;
  --white: #ffffff;
  
  /** Theme primary colors */
  --red-background: #381812;
  --red-2: #4d2e28;
  --red-3: #62453f;
  --red-4: #775d57;
  --red-5: #8d7671;
  --red-6: #a3908b;
}

body {
  background-color: var(--red-background); 
}

.nav {
  /* navbar appearance */
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: var(--red-3);
  opacity: 0.7;

  /* navbar position */
  position: fixed;
  width:100%;
  display: flex;
  justify-content: center;
  top: 5%;
  /*padding-top: 5%;*/
/*   padding-left: 10%;
  padding-right: 10%; */
  /*height: 10%;*/
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*font*/
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Change the link color to #111 (black) on hover */
.nav-li a:hover {
  background-color: var(--red-5);
}

/* for card display */
/* for card display */
/* for card display */

#experience {
  box-sizing: border-box;
}

.flex-row {
  height: 500px;
}

.cards {
  height: 500px;
  display: flex;
  overflow-x: scroll;
}

.cards::-webkit-scrollbar {
  height: 0; /* Hide scrollbar */
  /*width: 0; /* Hide scrollbar height */
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  background-color: var(--red-2);
  border-radius: 25px;
  height: 300px;
  margin-top: 50px;
  /* for easing card size transitions */
  transition: all 300ms ease-out;
}

.card:hover {
/*   height: 320px;
  margin-top: 10px; */
  transform: scale(1.1); /* testing scale */
}

.card-header {
  padding: 15px 15px 0px 15px; /* top right bottom left */
}

.card-body {
  padding: 0px 15px 0px 15px;
}

.card-link {
  padding: 0px 15px 15px 15px;
}

/* card displays for different width settings */

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
/*   .card:not(:last-child) {
    margin-right: 20px;
  } */
/*   .card:hover {
    flex-basis: calc(50% + 10px);
    margin-right: 0px;
    margin-left: 0px;
  } */
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
    margin-right: 15px;
    margin-left: 15px;
  }
/*   .card:not(:last-child) {
    margin-right: 30px;
  } */
/*   .card:hover {
    flex-basis: calc(calc(100% / 3) - 0px);
    margin-right: 5px;
    margin-left: 5px;
  } */
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
    margin-right: 20px;
    margin-left: 20px;
  }
/*   .card:not(:last-child) {
    margin-right: 40px;
  } */
/*   .card:hover {
    flex-basis: calc(25% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  } */
}

/* Float four columns side by side */
/*.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
/*.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the counter cards */
/*.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
/*  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
 .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */
