/* fonts */
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-regular {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitcount-grid-single-regular {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

/* GENERAL STUFF */

/* for smooth scrolling when selecting header links */
html {
  scroll-behavior: smooth;
}

/* removing default html margins */
* {
  margin: 0;
  padding: 0;
}

/* COLOR SCHEME */
:root {
  /** Base colors */
  --black: #000000;
  --white: #ffffff;
  
  /** Theme primary colors */
  --red-background: #381812;
  --red-background-alpha: rgba(56, 24, 18, 0);
  --red-background-alpha2: rgba(56, 24, 18, 0.75);
  --red-2: #4d2e28;
  --red-3: #62453f;
  --red-3-alpha: rgba(98, 69, 63, 0.5);
  --red-4: #775d57;
  --red-5: #8d7671;
  --red-6: #a3908b;
}

body {
  background-color: var(--red-background); 
}

/* NAV BAR */

.nav {
  /* navbar position */
  position: fixed;
  width:100%;
  display: flex;
  justify-content: center;
  top: 5%;
  z-index: 1000; /*to keep on top*/
}

.nav-ul {
  border-radius: 25px;
  background-color: var(--red-3-alpha);
  backdrop-filter: blur(10px);
  display: flex;
  flex-basis: content;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 25px;
  /*font*/
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Change the link color to #111 (black) on hover */
.nav-li a:hover {
  background-color: var(--red-5);
}

/* VIDEO DISPLAY */

.protvid {
  position: relative;
  width: 100%;
  height: auto;
}

.video-container video {
    width: 100%;
    height: 100%; /*auto?*/
    display: block;
    object-fit: cover;
}

.namebox {
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: left;
  color: white;
  mix-blend-mode: difference;
  z-index: 1; /* above video */
}

.namebox h1 {
  /*font*/
  font-family: "Bitcount Grid Single", system-ui;
  font-size: 100px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.blur-and-fade {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 80%;
  background-image: linear-gradient(var(--red-background-alpha), var(--red-background));
}

/* ABOUT CARD */

.main-header {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-left: 10%;
  margin-top: 10%
}

.about-card {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--red-5);
  font-size: 22px;
  margin-left: 15%;
  width: 50%;
  padding: 15px 15px 15px 15px;
  margin-top: 5%;
  border-style: none none none solid;
  border-width: 10px;
  border-color: var(--red-4);
  background-color: var(--red-2);
  text-align: justify;
}

/* CARD DISPLAY */

#experience {
  box-sizing: border-box;
}

.flex-row {
/*   height: 500px; */
}

.cards {
  height: 500px;
  display: flex;
  overflow-x: scroll;
  /* animation */
/*   animation: autoscroll 15s linear infinite; */
}

.cards::-webkit-scrollbar {
  height: 0; /* Hide scrollbar */
}

.cards:hover .card {
  animation-play-state: paused;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  background-color: var(--red-2);
  border-radius: 25px;
  height: 400px;
  margin-top: 50px;
  position: relative;
  /* for easing card size transitions */
  transition: all 300ms ease-out;
  /* testing animation on card itself */
  animation: autoscroll 16s linear infinite;
}

.card:hover {
/*   height: 320px;
  margin-top: 10px; */
  transform: scale(1.1);
/*   animation-play-state: paused; */
}

.card-header {
  padding: 15px; /* top right bottom left */
  /* font */
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.card-body {
  padding: 0px 15px 15px 15px;
  /* font */
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--red-5);
  text-align: justify;
}

.card-link {
  text-align: center;
  display: block;
  max-width: fit-content;
  margin-left: 15px;
  position: absolute;
  bottom: 15px;
  padding: 14px 16px; /* 0 15 15 15 */
  border-radius: 25px;
  background-color: var(--red-3);
}

.card-link:hover {
  background-color: var(--red-5);
  outline-style: solid;
  outline-color: white;
  outline-width: 2px;
}

.card-link a {
  /* font */
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.skill-cards {
  height: 250px;
  display: flex;
  overflow-x: scroll;
  overflow-y: clip;
  list-style: none;
}

.skill-cards::-webkit-scrollbar {
  height: 0; /* Hide scrollbar */
}

.skill-card {
  margin-top: 65px;
  margin-left: 25px;
  margin-right: 25px;
  transition: all 300ms ease-out;
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--red-2);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* font */
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  
  width: 120px;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.skill-card:hover .tooltiptext {
  visibility: visible;
}

#skills {
  margin-bottom: 10%;
}

/* card displays for different width settings */

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
  /* cards animation */
  @keyframes autoscroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100%));
    }
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
    margin-right: 15px;
    margin-left: 15px;
  }
  /* cards animation */
  @keyframes autoscroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100%));
    }
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
    margin-right: 20px;
    margin-left: 20px;
  }
  /* cards animation */
  @keyframes autoscroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(calc(-100% - 20px) * 8));
    }
  }
}
